# Variables

In [1]:
x = 2
y = 5
xy = 7.2

In [12]:
#print(x+y, xy)
#print(type(x),type(y),type(xy))
#c = x+y
#print(type(x+y))
#print(type(c))
#d = x+xy
#print(type(d))
print(type(2.0))

<class 'float'>

In [4]:
x = y = 1

In [5]:
print(x,y)

1 1

# Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [13]:
1+2

3

In [14]:
2-1

1

In [15]:
1*2

2

In [18]:
11//2

5

In [19]:
1/2.0

0.5

In [20]:
15%10

5

In [24]:
28//15

1

## Relational Operators

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [27]:
z = 10

In [28]:
z == 1

False

In [31]:
z >= 10

True

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [34]:
#print (round(5.6231) )
print (round(4.55842, 3))

4.558

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [35]:
c =complex('5+2j')
print(type(c))
print (abs(c))

<class 'complex'>
5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [37]:
divmod(27,5)

(5, 2)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [38]:
print(isinstance(1, int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

True
False
True

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [42]:
#print(pow(5,2,11))
#print(pow(3,3,5))
5**2

25

**input( )**, this is used only for accepting only integer inputs.

In [45]:
a =  input("Enter something")

Enter something45.2

In [46]:
print(a)

45.2

Note that **type( )** returns the format or the type of a variable or a number

In [47]:
type(a)

str

In [48]:
b = "hellow"
t = 'world'
print(type(b))

<class 'str'>

In [49]:
print(b+t)

hellowworld

In [50]:
print(b+'\t'+t)

hellow	world

In [51]:
len(b)

6

In [52]:
b[0]

'h'

In [53]:
b[1]

'e'

In [54]:
b[3]

'l'

In [55]:
b[1] = 'y'

TypeError: 'str' object does not support item assignment